:root {
  --dark-blue: #0B132B;
  --mid-blue: #1C2541;
  --light-blue: #3A506B;
  --orange: #FCA311;
  --grey: #E4E4E4;
  --white: #FFF;
  --black: #07050C;

  font-family: Verdana, sans-serif;
}

.editButton{
  background-color: transparent;
  border: none;
  color: var(--light-blue);

  cursor: pointer;
}
.editButton:hover{
  color: var(--orange);
}