:root {
  --primary-dark: #2e3047;
  --primary-mid: #3c3f58;
  --primary-light: #707793;
  --accent: #3bba9c;
  --text-sub: #E4E4E4;
  --text-main: #FFF;
  --code-block-bg: #07050C;

  font-family: Verdana, sans-serif;
  caret-color: var(--accent);
}

.editButton{
  background-color: transparent;
  border: none;
  color: var(--primary-light);

  cursor: pointer;
}
.editButton:hover{
  color: var(--accent);
}