.LoginPage {
    background-color: var(--primary-mid);
    width: 100vw;
    height: 100vh;
    color: var(--text-main);

    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginPageForm {
    display: block;
    height: fit-content;
    width: fit-content;
}

.LoginPage input {
    width: 20em;
    background-color: var(--primary-light);
    border: none;
    height: 2em;
    padding-left: 1em;
    border-radius: 10px;
    color: var(--text-main);
    margin: 5px;
    display: block;

    transition: height 0.5s;
}
.LoginPage input::placeholder {
    color: var(--primary-dark);
}
.LoginPage input:focus{
    outline: var(--text-main) solid 1px;
    height: 3em;

    transition: height 0.5s;
}

.LoginPage .ErrorDisplay {
    text-align: center;
    color: var(--accent);
}

.LoginPage button {
    display: block;
    margin: 10px auto;

    width: 10em;

    background-color: var(--text-main);

    padding: 5px;
    border-radius: 10px;

    border: none;
}

.LoginPage button:hover {
    background-color: var(--accent);
}