.ContentItem {
    background-color: var(--primary-dark);
    padding: 20px;
    width: 95%;
    margin: 10px 0;
}

.ContentItem h2,.ContentItem p {
    color: var(--text-sub)
}

.ContentItem-HorizontalFlexBox {
    display: flex;
    justify-content: space-between;
}

.ContentItem-HorizontalFlexBox p {
    font-size: 8px;
    color: var(--primary-light)
}

.ContentItem-Description {
    margin: 20px 0 20px;
}

.buttonList {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

/* Used to make sure the last row does not stretch */
.buttonListLast {
    flex: 1000;
}

.buttonList button {
    padding: 5px 1em;
    font-weight: 700;
    color: var(--text-main);
    background-color: var(--primary-dark);
    border: 2px solid var(--primary-light);

    cursor: pointer;

    flex: auto;

    margin-right: -2px;
    margin-top: -2px;
}

.buttonList .Selected {
    color: var(--primary-dark);
    background-color: var(--text-main);
}

.buttonList button:hover {
    color: var(--accent)
}

.tagsList {
    font-size: 8px;
    margin: 10px 0;
    padding: 6px 0 0;

    display: flex;
    flex-wrap: wrap;
}

.tagsList p {
    background-color: var(--primary-mid);
    padding: 6px;
    border-radius: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tagsList p:before {
    content:"#"
}