.ContentHeader {
    font-size: 14px;
    display: block;
    width: 80%;
    margin: 5px auto;
    color: var(--text-sub);
}

.accordion {
    border-top: 2px solid var(--primary-light);
    display: flex;
    justify-content: space-between;

    cursor: pointer;
}

.accordion:hover {
    color: var(--accent)
}

.accordion p {
    display: inline-block;
    padding: 15px 0;
    font-weight: 800;
    font-size: 16px;
}

.titlesList {
    max-height: 999px;
    overflow: hidden;

    transition: all 0.1s ease-in-out;
}

.hide {
    max-height: 0px;

    transition: all 0.1s ease-in-out;
}

.titleGroup {
    margin-left: 1em;
    border-top: 2px solid var(--primary-mid);
    padding: 0.25em 0;
    display: flex;
    justify-content: space-between;
}

.titleGroup:last-of-type {
    margin-bottom: 15px;
}

.titleGroup p {
    font-weight: 500;
    font-size: 13px;
}

.ContentHeader a {
    cursor: pointer;
}

.ContentHeader a:hover {
    color: var(--accent);
}